 <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Activate Link</title>
    {% endblock head %}
    <link rel="stylesheet" href="{% static 'users/bulma.css' %}">
</head>
<body>

<div class="container">

    <div class="notification">
        {% block content %}
        An email had been sent, please check your mailbox and click the link to activate the account.
        {% endblock content %}
    </div>
</div>
</body>
</html>
