{% extends 'users/user_profile.html' %}
{% load static %}
{% block title %}
<li class="is-active"><a>New Article</a></li>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.css">
<style>
    /* 在 HTML 文件的 <style> 标签中添加 CSS */
    .ck-editor__editable {
        height: 500px !important;
        /* 设置高度 */
        width:  955px !important;
        /* 设置宽度 */
        box-sizing: border-box;
        /* 包括边框和内边距 */
    }

    .ck-toolbar {
        height: 40px !important;
        width: 954px !important; /* 确保工具栏宽度足够 */
        box-sizing: border-box;
        border: 1px solid var(--ck-color-toolbar-border) !important;
        padding: 0 var(--ck-spacing-small) !important;
    }


    /* 确保有序列表的数字和文本在同一行显示 */
    .ck-editor__editable ol {
        margin-left: 0; /* 去掉左边距 */
        padding-left: 30px; /* 添加内边距，确保数字和文本之间的距离 */
        line-height: 1.6; /* 设置行高，确保内容不会换行 */
    }
    /* 确保无序列表的圆点和文本在同一行显示 */
    .ck-editor__editable ul {
        margin-left: 0; /* 去掉左边距 */
        padding-left: 30px; /* 添加内边距，确保圆点和文本之间的距离 */
        line-height: 1.6; /* 设置行高，确保内容不会换行 */
    }
</style>
{% endblock %}

{% block content %}
<form action="{% url 'blog:add_article' %}" method="post" id="article-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field is-horizontal" style="align-items: center;">
        <div style="margin-right:58.99px;">
            <label class="label">Author</label>
        </div>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" style="width: 286px" value="{{ request.user.username }}" readonly>
        </div>
        <p class="help is-info">author is readonly</p>
    </div>

    <div class="field is-horizontal" style="align-items: center;">
        <div style="margin-right:78.3px;">
            <label class="label">Title</label>
        </div>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" style="width: 572px" placeholder="title" name="{{ add_form.title.name }}" id="id_title"
                value="{{ add_form.title.value|default_if_none:'' }}">
            <span class="icon is-small is-left">
            </span>
        </div>
    </div>

    <div class="field is-horizontal" style="align-items: flex-start;">
        <div style="margin-right:22.93px;">
            <label class="label">Description</label>
        </div>
        <div class="control">
            <textarea class="textarea" style="width: 572px" name="{{ add_form.description.name }}"  id="id_description"
                placeholder="Briefly describe the article">
                {{add_form.description.value|default_if_none:''}}
            </textarea>
        </div>
    </div>

    <div class="field is-horizontal" style="align-items: flex-start;">
        <div style="margin-right:50px;">
            <label class="label">Content</label>
        </div>
        <div class="control">
            <div class="main-container">
                <div class="editor-container editor-container_classic-editor" id="editor-container">
                    <div class="editor-container__editor">
                        <div id="editor" data-initial-data="{{ add_form.content.value|default_if_none:'' }}">
                            <!-- CKEditor 将初始化在这个 div 中 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal" style="align-items: flex-start;">
        <div style="margin-right:75.74px;">
            <label class="label">Tags</label>
        </div>
        <div class="control">
            {{ add_form.tags }}
        </div>
    </div>

    <div class="field is-horizontal" style="align-items: center;">
        <div style="margin-right:40.5px;">
            <label class="label">Category</label>
        </div>
        <div class="control">
            <div class="select">
                {{ add_form.category }}
            </div>
        </div>
    </div>

    <script type="importmap">
		{
			"imports": {
				"ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.js",
				"ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.1.0/"
			}
		}
		</script>
    <script src="https://cdn.ckbox.io/ckbox/latest/ckbox.js"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>

    <div class="button-container" style="">
        <input class="button is-primary" type="submit" name="save_as_draft" value="Save as Draft" style="margin-right: 755px;">
        <input class="button is-info" type="submit" name="publish" value="Publish" style="margin-right: 5px;">
    </div>
    <div class="is-clearfix"></div>
</form>
{% endblock %}