{% extends 'users/user_profile.html' %}
{% load static %}
{% block title %}
<li class="is-active"><a>Delete Article</a></li>
{% endblock %}

{% block content %}
  <style>
      .button-container {
          display: flex; /* 使用 Flexbox 布局 */
          gap: 10px; /* 设置按钮之间的间距 */
      }

      .button-container .button {
          margin: 0; /* 去掉按钮的默认外边距 */
      }
  </style>
      <h2 class="subtitle ">
        Are you sure you want to delete this article "{{ article.title }}" ?
      </h2>
      <div class="button-container">
        <form method="POST" action="{% url 'blog:delete_article' article.id %}">
            {% csrf_token %}
            <button type="submit" class="button is-danger is-outlined">YES</button>
        </form>
          <a href="{% url 'blog:draft_list' %}" class="button is-link is-outlined">NO</a>
      </div>
{% endblock %}