html, body{
    background-image: url('https://w.wallhaven.cc/full/o5/wallhaven-o5qwl7.jpg');
    background-size: cover; /* 使背景图片覆盖整个页面 */
    background-position: center; /* 将背景图片居中显示 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
}

.button-container {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: flex-end; /* 将按钮对齐到右侧 */
    gap: 100px; /* 添加按钮之间的间隔 */
}

.comment-content {
    white-space: pre-wrap; /* 保留换行和空白，且不会溢出容器 */
    word-wrap: break-word; /* 遇到长单词时换行 */
    background-color: inherit; /* 保持背景色和父容器一致 */
}

