{% extends 'blog/base.html' %}
{% load static %}
{% block page-content %}
<div class="box">
<h1 class="is-size-5 has-text-weight-bold">
    <a>{{article.title}}</a>
</h1>
    <div class="is-size-7 has-text-grey-light pt-1 pb-1">
        <span class="mr-6">Author: {{article.owner}}</span>
        <span> Publish Date: {{article.add_date}}</span>
    </div>
    <div class="content">
        {{article.content|safe}}
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            {{ form.content }}  <!-- 自动渲染表单字段 -->
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control" style=" margin-left: auto;" >
            <button class="button is-link" type="submit">Publish</button>
        </div>
    </div><!-- 在模板的底部添加JavaScript -->
</form>
<br/>

<div class="box">
{% for comment in comments %}
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        {% if comment.user.userprofile.image %}
            <img class=" is-rounded" src="{{ MEDIA_URL }}{{ user.userprofile.image.url }}" alt="" srcset="">
        {% else %}
            <img class=" is-rounded" src="{% static 'users/images/avatar.png' %}" alt="" srcset="">
        {% endif %}
      </figure>
    </div>
    <div class="media-content">
        <div class="content">
          <p style="display: flex; justify-content: space-between; align-items: center;">
            <span>
                {% if comment.user.userprofile.nick_name %}
                  <strong>{{ comment.user.userprofile.nick_name }}</strong>
                {% else %}
                  <strong>{{ comment.user }}</strong>
                {% endif %}
              <small>@{{ comment.user }}</small>
            </span>
          </p>
            <p class="comment-content">
                {{ comment.content|safe|linebreaks }}
            </p>
          <small style="color: #a0a0a0;">{{ comment.add_date }}</small>
        </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
            <span class="level-left">
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fas fa-heart" aria-hidden="true">
                    <img src="{% static 'blog/images/like.png' %}" style="margin-top:3px">
                  </i>
                </span>
              </a>
                {% if comment.likes == 0 %}
                {% else %}
                  <span style="vertical-align: bottom;">{{ comment.likes }}</span>
                {% endif %}
            </span>

        </div>
      </nav>
    </div>
  </article>
{%endfor%}
</div>

<div class="box">
        <div class="level">
        <div class="level-left">

            {% if prev_article %}
            <span>Last Article:</span>
            <a href="{% url 'blog:article_detail' prev_article.id %}" class="level-item">{{ prev_article.title }}</a>
            {% else %}
            <span class="has-text-danger-dark is-size-7">Not exist last one</span>
            {% endif %}
        </div>
        <div class="level-right">
             {% if next_article %}
            <span>Next Article:</span>
            <a href="{% url 'blog:article_detail' next_article.id %}" class="level-item">{{ next_article.title }}</a>
             {% else %}
            <span class="has-text-danger-dark is-size-7">Already last one</span>
             {% endif %}
        </div>
    </div>
</div>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            // 获取textarea元素
            const textarea = document.querySelector('textarea');

            if (textarea) {
                // 定义一个函数来调整textarea的高度
                function autoResizeTextarea() {
                    // 先将高度设为auto，以便获取正确的scrollHeight
                    textarea.style.height = 'auto';
                    // 根据内容的scrollHeight设置新的高度
                    textarea.style.height = (textarea.scrollHeight) + 'px';
                }

                // 监听input事件来动态调整高度
                textarea.addEventListener('input', autoResizeTextarea);

                // 初始化textarea高度，适应初始内容
                autoResizeTextarea();
            }
        });
    </script>
{% endblock %}