<!doctype html>
<html lang="en">
{% load static %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<head>
    <meta charset="utf-8">
    <title>CKEditor 5 Sample</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.css">
    <style>
    /* 在 HTML 文件的 <style> 标签中添加 CSS */
    .ck-editor__editable {
        height: 946.92px !important;
        /* 设置高度 */
        width: 795px !important;
        /* 设置宽度 */
        box-sizing: border-box;
        /* 包括边框和内边距 */
    }

    .ck-toolbar {
        height: 40px !important;
        /* 设置高度 */
        width: 793px !important;
        /* 设置宽度 */
        box-sizing: border-box;
        /* 包括边框和内边距 */
    }
</style>
</head>

<body>
    <div>
        <div class="main-container">
            <div class="editor-container editor-container_classic-editor" id="editor-container">
                <div class="editor-container__editor">
                    <div id="editor"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="importmap">
		{
			"imports": {
				"ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.js",
				"ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.1.0/"
			}
		}
		</script>
    <script src="https://cdn.ckbox.io/ckbox/latest/ckbox.js"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
</body>

</html>